<template>
    <div class='wrap'>
        <Header/>
        <router-view/>
    </div>
</template>

<script>
import '../common/font/iconfont.css'
import '../common/js/flexible.js'
import '../common/scss/index.css'
import axios from 'axios'
import Header from '../components/headers'
export default {
    name:'index',
    components:{
        Header
    },
   

}
</script>

<style>

</style>
