<template>
    <section>
       <div class="left">
           <ul class='leftList'>
               <li v-for="(val,ind) in allData" :key="ind">{{val.categoryName}}</li>
           </ul>
       </div>
       <div class="right">
           <div class='content' v-for="(val,ind) in allData" :key="ind">
               <p>{{val.categoryName}}</p>
               <dl v-for="(item,index) in val.spuList" :key="index">
                   <dt>
                       <img :src="item.bigImageUrl" alt="">
                   </dt>
                   <dd>
                       <h2>{{item.spuName}}</h2>
                       <div class="money">
                           <b>{{item.originPrice}}</b>
                                 <div class="change" v-if="!item.count || item.count<0">
                                    <a></a>
                                    <a></a>
                                    <span @click="addCount(item.spuId,'add',item)">+</span>
                                </div> 
                                <div class="change" v-if="item.count>0">
                                    <span  @click="addCount(item.spuId,'del',item)">-</span>
                                    <b>{{item.count}}</b>
                                    <span  @click="addCount(item.spuId,'add',item)">+</span>
                                </div>
                       </div>
                   </dd>
               </dl>
           </div>
       </div>
       <Mark @getFlag="getFlag"/>
       <Dailog :flag="flag"/>
    </section>
</template>

<script>
import {mapState,mapMutations,mapGetters,mapActions} from 'vuex'
import Mark from '../components/mark'
import Dailog from '../components/dailog'
export default {
    name:'shops',
    data(){
        return {
            flag:true
        }
    },
    components:{
        Mark,
        Dailog
    },
     computed:{
        allData(){
            return this.$store.state.allData
        }
    },
    created(){
          this.$store.dispatch('getData')
    },
   
    methods:{
       addCount(id,type,item){
           this.$store.dispatch('addCount',{id,type,item})
       },
        getFlag(){
            if(this.flag){
                this.flag=false
            }
        }
    }

}
</script>

<style>

</style>
