@import '_mixin.scss';
@import 'common.scss';
.wrap{
    width:100%;
    height:100%;
    @include box-flex;
    @include direction(column);
}
header{
    width:100%;
    height:pxTorem(44px);
    @include box-flex;
    @include justify(space-between);
    border-bottom:1px solid #ccc;
    p{
        flex:1;
        text-align:center;
        line-height:pxTorem(44px);
        font-size:pxTorem(16px);
    }
}
.bg{
    background:pink;
    color:#fff;
}
section {
    flex:1;
    width:100%;
    height:100%;
   @include box-flex;
}
.left{
    width:25%;
    height:100%;
    .leftList{
        width:100%;
        height:100%;
        li{
            width:100%;
            height:pxTorem(44px);
            text-align:center;
            line-height:pxTorem(44px);
            border-bottom:1px solid #666;
        }
    }
}
.right{
    flex:1;
    width:100%;
    height:100%;
    overflow-y: auto;
    padding-left:pxTorem(6px);
    @include sizing;
    .content{
        width:100%;
        height:auto;
        p{
            width:100%;
            height:pxTorem(34px);
            padding-left:pxTorem(10px);
            @include sizing;
            line-height:pxTorem(34px);
            position: sticky;
            top:0;
            left:0;
            background: #fff;
        }
        dl{
            width:100%;
            height:pxTorem(80px);
            @include box-flex;
            dt{
                width:30%;
                height:100%;
                @include box-flex;
                @include justify(center);
                @include align(center);
                img{
                    width:100%;
                    height:auto;
                }
            }
            dd{
                flex:1;
                width:100%;
                height:100%;
                @include box-flex;
                @include direction(column);
                padding-left:pxTorem(6px);
                @include sizing;
                h2{
                    width:100%;
                    height:pxTorem(16px);
                    
                }
                p{
                    width:100%;
                    height:pxTorem(40px);
                    line-height:1.3;
                    padding:0;
                    @include ntext(2);
                }
                .money{
                    width:100%;
                    @include box-flex;
                    @include justify(space-between);
                    padding:0 8px;
                    @include sizing;
                    >b{
                        color: orange;
                        font-weight: bold;
                        font-size: pxTorem(20px);
                    }
                }
                .change{
                    width:44%;
                    height:pxTorem(20px);
                    @include box-flex;
                    @include justify(space-between);
                    padding-right:pxTorem(24px);
                    span{
                        width:pxTorem(24px);
                        height:pxTorem(24px);
                        border-radius: 50%;
                        background:cyan;
                        color:#fff;
                        font-size:pxTorem(22px);
                        text-align:center;
                        line-height:pxTorem(24px);

                    }
                    b{
                        font-size: pxTorem(24px);
                    }
                }
            }
        }
    }
}
.active{
    width:100%;
    height:pxTorem(60px);
    position: fixed;
    left:0;
    bottom:0;
    background:rgba(0,0,0,.6);
    @include box-flex;

    .endBg{
        width:pxTorem(80px);
        height:100%;
        background:green;
        color:#fff;
        text-align:center;
        line-height:pxTorem(60px);
        margin-left: pxTorem(70px);
    }
    .startBg{
        width:pxTorem(80px);
        height:100%;
        background:blue;
        color:#000;
        text-align:center;
        line-height:pxTorem(60px);
        font-size:pxTorem(16px);
    }
    .car{
        width:20%;
        height:100%;
        position: relative;
        .icon{
            width:pxTorem(50px);
            height:pxTorem(50px);
            background:skyblue;
            border-radius: 50%;
            color:#fff;
            font-size:pxTorem(30px);
            text-align:center;
            line-height:pxTorem(50px);
            position: absolute;
            right:pxTorem(10px);
            top:pxTorem(-14px);
        }
        span{
            position: absolute;
            top:-5px;
            right:-5px;
            width:pxTorem(20px);
            height:pxTorem(20px);
            background:red;
            color:#fff;
            border-radius: 50%;
            text-align:center;
            line-height:pxTorem(20px);
        }
    }
}
.moneys{
    width:40%;
    height:100%;
    @include box-flex;
    @include justify(center);
    @include align(center);
    @include direction(column);
    color:#fff;
    font-size:pxTorem(16px);
}
.dailog{
    width:100%;
    height:auto;
    position:fixed;
    bottom:0;
    left:0;
    z-index:99;
   background:rgba(0,0,0,.5)
}

  
   
    .contents{
        width:100%;
        height:pxTorem(80px);
        @include box-flex;
        margin-top:pxTorem(10px);
        dt{
            width:30%;
            height:100%;
            @include box-flex;
            @include justify(center);
            @include align(center);
            img{
                width:100%;
                height:auto;
            }
        }
        dd{
            flex:1;
            width:100%;
            height:100%;
            @include box-flex;
            @include direction(column);
            padding-left:pxTorem(6px);
            @include sizing;
            h2{
                width:100%;
                height:pxTorem(16px);
                
            }
            p{
                width:100%;
                height:pxTorem(40px);
                line-height:1.3;
                padding:0;
                @include ntext(2);
            }
            .money{
                width:100%;
                @include box-flex;
                @include justify(space-between);
                padding:0 8px;
                @include sizing;
            }
            .change{
                width:44%;
                height:pxTorem(20px);
                @include box-flex;
                @include justify(space-between);
                padding-right:pxTorem(24px);
                span{
                    width:pxTorem(24px);
                    height:pxTorem(24px);
                    border-radius: 50%;
                    background:blue;
                    color:#fff;
                    font-size:pxTorem(22px);
                    text-align:center;
                    line-height:pxTorem(24px);

                }
            }
        }
    }

