<template>
    <div v-if="!flag" class="dailog">
        
               <dl v-for="(item,ind) in $store.state.shopCar" :key="ind" class='contents'>
                   <dt>
                       <img :src="item.bigImageUrl" alt="">
                   </dt>
                   <dd>
                       <h2>{{item.spuName}}</h2>
                       <div class="money">
                           <b>{{item.originPrice}}</b>
                                 <div class="change" v-if="!item.count || item.count<0">
                                    <a></a>
                                    <a></a>
                                    <span @click="addCount(item.spuId,'add',item)">+</span>
                                </div> 
                                <div class="change" v-if="item.count>0">
                                    <span  @click="addCount(item.spuId,'del',item)">-</span>
                                    <span>{{item.count}}</span>
                                    <span  @click="addCount(item.spuId,'add',item)">+</span>
                                </div>
                       </div>
                   </dd>
               </dl>
           </div>
   
</template>

<script>
export default {
    props:['flag'],
     methods:{
       addCount(id,type,item){
           this.$store.dispatch('addCount',{id,type,item})
       }
       
    }

}
</script>

<style>

</style>
