<template>
    <header>
        <p v-for="val in arr" :key='val.id' @click="toPage(val.id)" :class="id===val.id ? 'bg': ''">{{val.name}}</p>
    </header>
</template>

<script>
export default {
    name:'headers',
    data(){
        return {
            arr:[{
                id:1,
                name:'点餐'
            },{
                id:2,
                name:'评价'
            },{
                id:3,
                name:'商家'
            }],
            id:1
        }
    },
   
    methods:{
        toPage(id){
           this.id=id;
           console.log(this.id)
            if(id===1){
                this.$router.history.push('/shops')
               this.$store.dispatch('getData')
            }else if(id===2){
                this.$router.history.push('/good')
            }else if(id===3){
                this.$router.history.push('/shoper')
            }
        }
    }
}
</script>

<style>

</style>
