<template>
    <div class='active'>
        <div class="car">
            <!-- <i class="icon iconfont icon-gouwuche-xuanzhong"></i> -->
           
        </div>
        <div class="moneys">
             <span>总件：{{$store.state.allCount}}</span>
            <div>总价：{{$store.state.allMoney}}</div>
        </div>
        <div class="endBg" >
            去结算
        </div>  
    </div>
</template>

<script>
export default {
  
    methods:{
        showShopCar(){
            this.$emit('getFlag')
        }
    }


}
</script>

<style>

</style>
